.vs/conversorDeMedidas/FileContentIndex/0cb0e5e1-f4f9-4354-9170-e4f3df3930e4.vsidx
.vs/conversorDeMedidas/FileContentIndex/be9a4396-b79f-4852-81b9-8f94f7b592cc.vsidx
.vs/conversorDeMedidas/FileContentIndex/2a03aea9-6f22-4696-95c0-fadb1e52fd68.vsidx
.vs/conversorDeMedidas/FileContentIndex/7a1f7ef8-d3c9-4b0e-a65e-05e287d283c5.vsidx
.vs/conversorDeMedidas/FileContentIndex/a972a4af-421d-4e34-90d2-9dcd70af0387.vsidx
